.cast-main{
    display: flex;
    flex-flow: row nowrap;
    padding:48px 0;
    margin-bottom: 40px;
}
.cast-img{
    width: 20%;
    margin-right: 40px;
}
.cast-img > img{
    border-radius: 8px;
}
.cast-info{
    width: calc(80% - 40px);
}
.cast-name{
    font-size: 36px;
    font-family: 'Hel Roman';
    font-weight: 300;
    margin-bottom: 24px;
}
.cast-bio{
    font-size: 16px;
    font-family: 'Hel Roman';
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
    opacity: 0.7;
}
.cast-type{
    display: flex;
    margin-bottom: 16px;
}
.cast-type-name{
    width: 160px;
    font-size: 16px;
    font-family: 'Hel Roman';
    font-weight: 300;
    opacity: 0.7;
}
.cast-type-info{
    width: calc(100% - 160px);
    font-size: 16px;
    font-family: 'Hel Roman';
    font-weight: 300;
    opacity: 0.7;
}
.cast-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.cast-nav-items{
    width: 32%;
    display: flex;
    justify-content: space-between;
}
.cast-nav-item{
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Hel Bold';
    font-weight: 300;
    cursor: pointer;
}
.cast-nav-active{
    border-bottom: 2px solid #fff;
}
.cast-movies{
    display: flex;
    flex-flow: row wrap;
}

.cast-movies .f-item{
    width: calc(100% * 1 / 6.001);
    padding-left: 0!important;
}

.cast-images{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.cast-images > .cast-image{
    width: calc(100% * 1 / 6.001);
    padding: 0 4px;
    margin-top: 10px;
    margin-bottom: 16px;
}
.cast-images > .cast-image:nth-child(6n){
    margin-right: 0;
}
.cast-image > img {
    width: 100%;
    border-radius: 8px;
}


.cast-img-mob{
    display: none;
}