.friend-title {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Medium";
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin: 64px 0 30px 0;
}
.friend{
    margin-bottom: 72px;
}
.friend-recomend,.friend-purchased{
    display: none;
}