.m-f-item:hover>.m-f-img {
    /* transform: scale(1.01); */
    /* transition: .3s ease-in-out; */
    border: 1px solid #1e90ff;
    box-shadow: 0 0 15px #1e90ff8c;
}
.m-f-item:hover>.m-f-img>.m-f-left{
    opacity: 1;
}
.m-f-item:hover>.m-f-img>img{
    opacity: 0.8;
}
.m-f-item:hover>.fav-f-img>img {
    opacity: 1;
}

.m-f-item:hover>.fav-f-img {
    /* transform: scale(1.01); */
    /* transition: .3s ease-in-out; */
    border: 1px solid #1e90ff;
    box-shadow: 0 0 15px #1e90ff8c;
}

.m-f-item>.m-f-img {
    border: 1px solid #161719;
    transition: .3s ease-in-out;
}

.m-f-item>.fav-f-img {
    border: 1px solid #161719;
    transition: .3s ease-in-out;
}

.m-f-item:hover>* {
    cursor: pointer;
    color: #1e90ff!important;
}

.m-f-item {
    width: calc(16.66666% - 6.66666px);
    margin-right: 8px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 24px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.m-f-item:nth-child(6n) {
    margin-right: 0;
}

.m-f-about {
    width: 100%;
    margin: 12px 0 0 0;
}

.m-film-name {
    opacity: 0.87;
    font-family: "Hel Roman";
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    overflow: hidden;
}

.m-film-info {
    opacity: 0.54;
    color: #fff;
    font-family: "Hel Roman";
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-f-img {
    margin-right: 0px;
    padding-bottom: calc(75% - 32px);
    border-radius: 6px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m-f-left {
    width: 100%;
    padding: 6px 6px 0 6px;
    padding-bottom: calc(75% - 62px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.m-f-left-mob {
    display: none;
}

.m-f-left > div{
    height: 24px;
    padding: 6px 12px;
    font-size: 12px;
    /* color: #1e90ff; */
    color: #ffffff;
    float: right;
    background: rgba(0,0,0,0.7);
    border-radius: 100px;
}

.fav-f-img {
    margin-right: 0px;
    padding-top: calc(12px);
    padding-bottom: calc(150% - 48px);
    border-radius: 6px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: top;
}

.fav-f-img::after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #47a3da;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.fav-f-img>img {
    width: 36px;
    height: 36px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    margin-right: 12px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    opacity: 0;
    border: 1px solid #1e90ff;
}

.fav-f-img>img:hover {
    /* background: rgb(30, 144, 255); */
    background: rgb(0, 0, 0);
}

.m-f-img>img {
    width: 64px;
    height: 64px;
    opacity: 0.6;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.m-f-download-mob {
    display: none;
}

.fav-f-download-mob {
    display: none;
}

.m-f-restriction {
    font-size: 16px!important;
}