.cast-item {
    width: calc(100% / 6.001);
    padding-top: 10px;
}

.cast-item>img {
    width: calc(100% - 8px);
    margin: 0 4px;
    border-radius: 8px
}
.cast-item-name{
    opacity: 0.87;
    font-size: 15px;
    font-family: 'Hel Roman';
    font-weight: 400;
    margin: 12px 10px 0 10px;
}