.slider {
    width: 100%;
}

.slider>img {
    width: 100%;
}

.slider-shadow {
    height: 60px;
    width: 100%;
}

.slider-i {
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.slider-item {
    padding: 10px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'Hel Roman';
}

.slider-bg {
    height: 100%;
    background: linear-gradient(to right, rgba(22, 23, 25, 0.5) 0%, rgba(0, 0, 0, 0.03) 66%);
}

.slider-name {
    font-size: 38px;
    color: #fff;
    margin-bottom: 24px;
}

.slider-subtitle {
    font-size: 15px;
    color: #fff;
    line-height: 24px;
    margin-bottom: 24px;
}

.slider-trailer-button {
    color: #fff;
    padding: 13px 24px 9px 24px;
    font-size: 14px;
    font-family: 'Hel Medium';
    background: #1e90ff;
    width: 144px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.slider-trailer-button>img {
    height: 10px;
    width: 8px;
    margin-right: 12px;
}

.main {
    width: 100%;
}

.main-title {
    text-align: center;
}

.m-title {
    font-size: 56px;
    font-family: 'Hel Bold';
    letter-spacing: -1.41px;
    margin-bottom: 14px;
}

.m-subtitle {
    font-size: 38px;
    font-family: 'Hel Roman';
    opacity: 0.7;
    margin-bottom: 24px;
}

.films {
    width: 100%;
    margin-bottom: 30px;
}

.f-title {
    margin: 0 0 30px 0;
    padding: 0 10px;
    opacity: 0.87;
    font-size: 30px;
    font-weight: 500;
    /* padding-left: 8.5%; */
    display: flex;
    justify-content: space-between
}

.f-items {
    /* justify-content: space-between; */
    /* margin: 0 calc((100% - 1260px) / 2)!important; */
}

.s-s-items {
    margin: 0 calc((100% - 1260px) / 2)!important;
    /* padding-left: calc((100% - 1260px) / 2)!important; */
    /* padding-right: calc((100% - 1260px) / 2)!important; */
}

.s-s-items>.f-item {
    width: calc(100% * 1 / 7)!important;
}
.f-item-friend > .f-img{
    margin: 0 4px;
}

.f-item-friend > .f-img > div{
    padding-top: 100%;
    border-radius: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.f-list:hover .s-arrow-left {
    opacity: 1;
}

.f-list:hover .s-arrow-right {
    opacity: 1;
}

.f-list {
    width: 100%;
    /* padding: 0 calc((100% - 1260px) / 2)!important; */
    /* display: flex; */
    /* flex-flow: row nowrap; */
    /* justify-content: space-between; */
    /* overflow: scroll; */
    /* padding-left: 8.5%; */
}

.f-list::-webkit-scrollbar {
    display: none;
}

.main-footer {
    width: 100%;
    margin: 72px 0 72px 0;
    text-align: center;
}

.m-f-title {
    font-weight: 500;
    font-size: 43px;
    margin-bottom: 20px;
    opacity: 0.87;
}

.m-f-subtitle {
    font-weight: 400;
    font-size: 30px;
    font-family: "Hel Roman";
    margin-bottom: 60px;
    opacity: 0.7;
}

.m-f-button>button:hover {
    box-shadow: 0 0 15px #1e90ff8c;
}

.m-f-button>button:active {
    opacity: 0.7;
}

.m-f-button>button {
    background: #1e90ff;
    padding: 18px 88px;
    border-radius: 100px;
    font-size: 20.4px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.f-list-title {
    font-size: 24px!important;
}

.footer {
    width: 100%;
    background: #161719;
    /* height: 395px; */
}

.footer>.container {
    height: 100%;
}

.footer-line {
    width: 100%;
    height: 8px;
    opacity: 0.54;
    background: #fff;
    opacity: 0.54;
}

.footer-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 88px;
    color: rgba(255, 255, 255, 0.32);
}

.socials {
    width: 30%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: baseline;
}

.socials-icons {
    width: 24px;
    height: 24px;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.footer-links>a {
    margin: 0 15px;
    color: rgba(255, 255, 255, 0.32);
}

.application-links {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.application-links>a:nth-child(1) {
    height: 48px;
    width: 146px;
    /* background: rgba(255, 255, 255, 0.05); */
    margin-left: 18px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center
}

.application-links>a:nth-child(2) {
    height: 48px;
    width: 146px;
    margin-right: 18px;
    /* background: rgba(255, 255, 255, 0.05); */
    display: flex;
    align-items: center;
    justify-content: center
}

.application-links>a>img {
    height: 100%;
}

.license {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 36px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 12px;
}

.license>a {
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.32);
    margin-bottom: 8px;
}

.s-films {
    display: none;
}

.icon-left {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.f-img-friend {
    /* border-radius: 100px!important */
}

.carousel {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel>.f-item {
    /* width: calc((100% - 1260px)) */
    width: calc(100% / 7);
}

.carousel>.f-item:nth-child(1) {
    margin-left: calc((100% - 1260px) / 2);
}

.carousel:hover .s-arrow-left {
    opacity: 1;
}

.carousel:hover .s-arrow-right {
    opacity: 1;
}