.f-item:hover>.f-img > img {
    /* transform: scale(1.01); */
    /* transition: .3s ease-in-out; */
    border: 1px solid #1e90ff;
    box-shadow: 0 0 15px #1e90ff8c; 
}

.f-item:hover{
    cursor: pointer;
    color: #1e90ff!important;
}

.f-img {
    text-align: center;
    border-radius: 6px;
    padding-top: 10px;
}

.f-img>img {
    width: calc(100% - 8px);
    border-radius: 6px;
    /* background: rgba(255, 255, 255, 0.32); */
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 1px solid #161719;
}
.film-name {
    opacity: 0.87;
    font-size: 15px;
    font-family: 'Hel Roman';
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 12px 10px 0 10px;
}

.film-info {
    opacity: 0.32;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px 10px 0 10px;
}
