.help{
    margin-bottom: 72px;
}
.help-title{
    padding-top: 24px;
}
.help-info{
    font-family: 'Hel Roman';
    font-size: 15px;
    line-height: 36px;
    padding: 0 10px;
    margin-bottom: 36px;
}
.help-body{
    display: flex;
    margin-bottom: 36px;
}
.help-name{
    width: 20%;
    padding: 0 10px;
    font-family: 'Hel Medium';
    font-size: 15px;
    line-height: 36px;
}
.help-text{
    width: 80%;
    padding: 0 10px;
    font-family: 'Hel Roman';
    font-size: 15px;
    line-height: 36px;
}