.results {
    top: 46px;
    width: 100%;
    background: #161719;
    margin-bottom: 72px;
}

.results-title {
    padding-top: 24px!important;
}

.results-input {
    background: rgba(0, 0, 0, 0);
    outline: none;
    font-family: 'Hel Roman';
    font-size: 48px;
    color: rgba(255, 255, 255, 0.87);
    padding: 24px 0;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #2d3033;
}

.results-buttons {
    display: flex;
    margin-bottom: 30px;
}

.result-buttons-active {
    border-bottom: 2px solid #fff;
}

.results-buttons>span {
    width: calc( 100% / 6.001);
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Hel Bold';
    font-weight: 300;
    cursor: pointer;
}