.p-body{
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 72px;
}
.purchased-title{
    padding-top: 24px!important;
}
.p-s-slider{
    margin-bottom: 36px;
}
.p-s-items > .uk-active {
}
.p-s-items > li {
    width: 70%;
    height: 400px;
    margin: 0 60px;
}
.p-s-items > li > img{
    width: 100%;
    height: auto;
}
.active{

}