.agreement{
    margin-bottom: 72px;
}
.agreement-title{
    padding-top: 24px;
}
.agreement-info{
    font-family: 'Hel Roman';
    font-size: 15px;
    width: 100%;
    line-height: 36px;
    padding: 0 10px;
}