.sign {
    z-index: 1200;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    left: 0;
    top: 0;
    z-index: 899;
}

.sign-body {
    width: 384px;
    background: #161719;
    padding: 24px 28px 20px 28px;
    z-index: 900;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 1px solid #2d3033;
    border-radius: 4px;
    transition: .3s ease-in-out;
}
.sign-title {
    width: 100%;
    text-align: center;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 16px;
}

.sign-subtitle {
    width: 100%;
    text-align: center;
    opacity: 0.54;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
}

.sign-input>input {
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Hel Roman';
    font-size: 15px
}
.sign-input>div>textarea {
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Hel Roman';
    font-size: 15px
}

.sign-input>input {
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Hel Roman';
    font-size: 15px
}
.sign-input>textarea {
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Hel Roman';
    font-size: 15px
}
.MuiInput-underline-35:hover:not(.MuiInput-disabled-34):not(.MuiInput-focused-33):not(.MuiInput-error-36):before {
    border-bottom: 2px solid #1e90ff!important;
}
.sign-divider{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sign-close{
    display: none;
}
.sign-button-dasable {
    opacity: 0.12;
}
.sign-button {
    margin-top: 36px;
    background: #1e90ff;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    /* padding: 10px 0; */
    font-size: 13px;
    padding: 10px 0 7px 0;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}
.sign-genres{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 24px;
}
.sign-genre{
    padding: 8px 16px;
    background:rgba(255,255,255,0.12);
    margin: 5px 5px;
    border-radius: 100px;
    opacity: 0.32;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.sign-genre-selected{
    background: #1e90ff!important;
    color: #fff!important;
    opacity: 1!important;
}
.sign-genre:target{
    background: red;
}
.sign-small{
    padding: 16px 0;
    font-size: 12px;
    opacity: .54;
    width: 100%;
    text-align: center;
}