.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(22, 23, 25, 0.95);
    z-index: 1000;
}

.uk-offcanvas-container, .uk-offcanvas-page {
    overflow-x: visible!important;
}

.header-body {
    height: 46px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.logo {
    width: 55%;
    font-size: 24px;
    font-family: "Hel Bold";
}

.logo>img {
    height: 20px;
}

.menu {
    width: 45%;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 14px;
}

.menu-mob {
    display: none;
}

.menu-items {
    width: calc(70% - 84px);
    display: flex;
    justify-content: space-between;
}

.menu-item {
    color: #ffffff;
    font-family: "Hel Medium";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu-item-active {
    color: #1e90ff;
}

.menu-item-active>img path {
    fill: #1e90ff;
}

.menu-item:hover {
    color: #1e90ff
}

.menu>a, .menu>span {
    margin-left: 32px;
    cursor: pointer;
}

.menu-sidebar {
    padding: 0 16px!important;
    width: 84%;
    display: none;
    background: #161719;
    box-shadow: -4px 0px 4px 1px rgba(0, 0, 0, 0.2)
}

.menu-sidebar-header {
    width: 100%;
    height: 46px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.menu-sidebar-close {
    top: auto;
    right: 16px;
    padding: 0;
}

.menu-sidebar-close>img {
    height: 24px;
}

.menu-sidebar-profile {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.menu-sidebar-back>img {
    width: 24px;
    height: 24px;
}

.menu-sidebar-avatar {
    width: 64px;
    margin-right: 16px;
}

.menu-sidebar-avatar>img {
    width: 100%;
    border-radius: 100px;
}

.menu-sidebar-profile-body {
    width: calc(100% - 80px);
    color: #fff;
    padding: 4px 0;
}

.menu-sidebar-profile-name {
    font-size: 18px;
    opacity: 0.87;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-sidebar-profile-contacts {
    font-size: 14px;
    margin-bottom: 4px;
    opacity: 0.6;
    font-family: 'Hel Roman';
    color: #fff;
    opacity: 0.32;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-sidebar-genres {
    width: 100%!important;
}

.menu-sidebar-genre {}

.menu-sidebar-genres-title {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.uk-offcanvas-flip .uk-offcanvas {
    background: rgba(0, 0, 0, 0.6);
}

.sign-in {
    /* background: #4d77cb; */
    /* border-radius: 100px; */
    height: 100%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.sign-in:hover {
    color: #1e90ff
}

.sign-in:active {
    color: #1e90ff;
    opacity: 0.7;
}

.search {
    font-weight: 500;
    cursor: pointer;
}

.header-search {
    width: calc(70% - 32px);
    border-bottom: 1px solid #2d3033;
    display: flex;
    align-items: center;
}

.search-input {
    background: rgba(0, 0, 0, 0);
    outline: none;
    font-size: 16px;
    color: #fff;
    height: 80%;
    width: calc(100% - 20px);
    /* border-radius: 100px; */
    padding: 10px 20px;
    vertical-align: middle;
    /* background: #000; */
}

.search>img {
    height: 20px;
}

.profile {
    width: 30%;
    color: #1e90ff;
    font-family: "Hel Medium";
    font-size: 13px;
    font-weight: 400;
}

.profile-menu {
    /* padding: 20px; */
    color: #fff;
}

.p-m-item {
    text-decoration: none;
    list-style: none;
    opacity: 0.87;
    font-family: "Hel Roman";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 18px;
}

.dropdown-button {
    margin-left: 10px;
}

.header-description {
    color: #000!important;
}

.results-modal {
    top: 36px!important;
    padding: 24px 20px 6px 20px;
    border: 1px solid #2d3033;
    box-shadow: 0 0 15px #0000008c;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.results-modal-body {
    display: flex;
    flex-direction: column;
}

.results-modal-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 12px;
    cursor: pointer;
}

.results-modal-img {
    width: 20%;
    margin-right: 24px;
}

.results-modal-img>img {
    border-radius: 4px
}

.results-modal-info {
    width: calc(80% - 24px);
    padding: 8px 0;
}

.results-modal-name {
    text-decoration: none;
    list-style: none;
    color: #fff;
    opacity: 0.87;
    font-family: "Hel Roman";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.results-modal-about {
    text-decoration: none;
    list-style: none;
    color: #fff;
    opacity: 0.32;
    font-family: "Hel Roman";
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.results-modal-more {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: "Hel Roman";
    font-size: 15px;
    background: #1e90ff;
    border-radius: 4px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}