.contact{
    margin-bottom: 72px;
}
.contact-title{
    padding-top: 24px;
    text-align: center
}
.contact-body{
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.contact-form{
    width: 40%;
    padding: 0 10px;
}
.contact-button{
    margin-top: 20px;
    width: 100%;
    background: #1e90ff;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Medium";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    padding-top: 3px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}








