.trailer {
    position: relative;
    min-height: 576px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.player {
    overflow: hidden;
    height: auto;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.trailer-play {
    width: 100%;
    text-align: center;
}

.trailer-play-button {
    width: 72px;
    cursor: pointer;
}

.trailer-play>span {
    padding: 25px 50px;
    opacity: 0.87;
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
    background: rgba(0, 0, 0, .6);
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.trailer-play>span:hover {
    background: rgba(0, 0, 0, .8);
}

.plyr {
    width: 100%;
    height: 576px;
    /* display: none; */
}

.plyr__video-wrapper {
    margin-bottom: -56.25%;
} 

.plyr__control--forward > span {
    display: flex;
}

.plyr video {
    height: 576px!important;
}

.plyr:-webkit-full-screen video {
    height: 100vh!important;
}

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: #1e90ff!important;
}

.plyr--full-ui input[type=range] {
    color: #1e90ff!important
}

.plyr__control--overlaid:hover {
    background: #1e90ff!important
}

.plyr__control--overlaid {
    background: rgb(30, 144, 255, .8)!important
}

.plyr__volume {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.video-hls-my {
    height: 576px!important;
}

/* .trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.f-i-body {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.f-left {
    width: 25%;
    padding-right: 32px;
}

.f-right {
    width: 75%;
}

.f-main {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
.f-main-mob{
    display: none;
}
.f-poster {
    /* margin-right: 24px; */
    margin-bottom: 32px;
}

.f-m-buy-mobile {
    display: none!important;
}

.f-poster>img {
    width: 100%;
    border-radius: 6px;
}

.f-m-info {
    width: 65%;
    padding-right: 32px;
}

.f-m-gallery {
    width: 35%;
}
.f-m-gallery-mob {
    display: none;
}

.f-g-title {
    font-family: "Hel Roman";
    font-size: 24px;
    font-weight: 400;
    opacity: 0.87;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.g-arrow-left>img, .g-arrow-right>img {
    height: 20px;
}

.f-g-img {
    width: 50%;
    padding: 4px;
}

.f-g-img>img {
    border-radius: 6px;
}

.f-name {
    font-family: 'Hel Roman';
    opacity: 0.87;
    font-size: 32px;
    margin-bottom: 20px;
}

.f-info {
    width: 100%;
}
.f-info-mob{
    display: none;
}

.f-info-item {
    display: flex;
    flex-flow: row nowrap;
    opacity: 0.7;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* Text style for "Фэнтези, б" */
}

.f-info-name {
    width: 25%;
}

.f-info-content {
    width: 75%;
}

.f-genres {
    margin: 10px 0 15px 0;
}

.f-buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.f-buttons>span {
    margin-right: 30px;
}

.f-buttons>span>img {
    height: 24px;
}

.f-restriction {
    padding: 5px 10px 2px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    opacity: 0.54;
}

.f-m-buy {
    background: #1e90ff;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Medium";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    padding-top: 3px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.f-m-buy:hover {
    box-shadow: 0 0 15px #1e90ff8c;
    background: #4ba6ff;
}

.f-m-buy:active {
    opacity: 0.7;
}

.f-text {
    width: 100%;
}

.f-t-title {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.87;
    font-family: "Hel Roman";
    margin-bottom: 10px;
}

.f-t-body {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.f-script {
    margin-bottom: 36px;
}

.f-persons {
    width: 100%;
}

.f-p-title {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Medium";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.f-p-title:not(:nth-child(1)) {
    margin-top: 64px;
}

.f-p-body {
    width: 100%;
}

.f-p-item {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
    align-items: center;
}

.f-p-img {
    height: 64px;
    margin-right: 20px;
}

.f-p-img>img {
    height: 100%;
    border-radius: 100px;
}

.f-p-name {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 20px;
    font-weight: 400;
}

.f-p-date {
    opacity: 0.54;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 16px;
    font-weight: 400;
}

.similar, .films-new, .films-recomended {
    width: 100%;
    /* max-width: 1405px; */
    margin: 0 auto;
    margin-bottom: 50px;
}

.similar-title {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 25px;
    padding: 0 10px 10px 10px;
    margin-bottom: 4px;
}

.s-shadow {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to right, rgba(11, 12, 13, 1) 0%, rgba(11, 12, 13, 0) 49%, rgba(11, 12, 13, 1) 100%);
}

.s-list {
    overflow: hidden;
}

.f-items>.f-item {
    width: calc(100% * 1 / 8);
    z-index: 101;
}


.s-arrow-left {
    opacity: 0;
    position: absolute;
    /* left: 0; */
    height: 310px;
    display: flex;
    align-items: center;
    z-index: 102;
    width: calc(100% / 16);
    justify-content: center;
    padding: 0;
    background: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(22, 23, 25, 1));
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.s-arrow-right {
    opacity: 0;
    position: absolute;
    right: 0;
    height: 310px;
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 102;
    width: calc(100% / 16);
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(22, 23, 25, 1));
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    justify-content: center;
}

.f-more {
    margin-bottom: 140px;
}

.f-m-title {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px;
}

.f-m-body {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-between
}

.f-m-section {
    width: 48%;
    margin-bottom: 56px;
}

.f-m-name {
    opacity: 0.87;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 20px;
    font-weight: 500;
}

.f-mm-info {
    opacity: 0.6;
    color: #ffffff;
    font-family: "Hel Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 41.67px;
}

.f-t-more {
    display: none;
}

.p-similar {
    display: none;
}