.user {
    z-index: 1200;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-body {
    z-index: 900;
    width: 760px;
    background: #161719;
    padding: 24px 28px 20px 28px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 1px solid #2d3033;
    border-radius: 4px;
    transition: .3s ease-in-out;
}

.user-info {
    width: 50%;
    padding: 12px 12px;
}

.user-genres {
    width: 50%;
    padding: 12px 12px;
}

.menu-m-profile-item {
    margin-bottom: 16px;
}

.menu-m-profile-label {
    font-size: 13px;
    margin-bottom: 4px;
    font-family: 'Hel Roman';
    color: #fff;
    opacity: 0.32;
}

.menu-m-profile-text {
    font-size: 16px;
    opacity: 0.87;
    font-family: 'Hel Roman';
    color: #fff;
}

.menu-m-profile-exit {
    color: #1e90ff;
    width: 50%;
    margin: 24px 25%;
    padding: 16px 0;
    font-size: 16px;
    font-family: 'Hel Medium';
    text-transform: uppercase;
    text-align: center;
}